@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 36 100% 98.6%;
    --foreground: 0 0% 15.3%;

    --card: 36 100% 98.6%;
    --card-foreground: 0 0% 15.3%;

    --popover: 36 100% 98.6%;
    --popover-foreground: 0 0% 15.3%;

    --primary: 24 37% 59%;
    --primary-foreground: 36 100% 98.6%;

    --secondary: 30 30% 92%;
    --secondary-foreground: 0 0% 15.3%;

    --muted: 30 20% 93%;
    --muted-foreground: 0 0% 40%;

    --accent: 24 37% 59%;
    --accent-foreground: 36 100% 98.6%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 30 20% 88%;
    --input: 30 20% 88%;
    --ring: 24 37% 59%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: 'Glacial Indifference', sans-serif;
  }
}
